body{
    background-image:url(img/background.png)
}
h1{
    color:blue;
    font-size:25px;
}
h2{
    color:red;
    font-size:20px;

}
.h22{
    color:red;
    font-size:20px;
    right:auto;
    display:contents;

}
input:checked ~ *{
    background-color: black;
    font-size:0px;
    opacity:0%;
    transition: 5s;

}
span{
    color:aqua;
    font-size:18px;
    font:bold;
}
span.date{
    color:dodgerblue;
    font-size:19px;
    font:italic;
    opacity:95%;

}
div>p{
    color:beige;
}
a{
    color:green;
   
    font:italic;
    
}
a.menu:hover{
    color:pink;
    font-size:22px;
    
}

