a{
    color:green;
    
    font:italic;
    
}
body{
    background-image:url(img/background.png)
}
h1{
    color:blue;
}
span.date{
    color:aqua;
}
span.days{
    color:cyan;
}
a.menu:hover{
    color:pink;
    font-size:22px;
    
}